{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Spokesmad | Blog Posts{% endblock %}

{% block content %}
    <section class="container post-list">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
                    {% else %}
                        <img src="{% static 'images/default_image.jpg' %}" alt="Default Image" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.short_description }}</p>
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

